@import "style-general.css";


@media screen and (max-width: 1230px){
    
    /* index.html */
    .video__content{
        width: 100%;
    }

    .important__list{
        gap: 30px 20px;
    }

    .important__item-img{
        width: 100%;
    }
}

@media screen and (max-width: 1125px){
    
    /* new-cars.html */
    .tabs__btn{
        padding: 0 0px 50px;
        gap: 20px;
    }

    .tabs__content-item{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width: 970px){

    /* new-cars.html */
    .blog__items{
        grid-template-columns: repeat(1, 1fr);
    }
}


@media screen and (max-width: 845px){

    /* header */
    .menu__btn{
        display: flex;
    }

    .menu__btn, .logo{
        position: relative;
        z-index: 10;
    }

    .menu__list{
        position: absolute;
        z-index: 5;
        background-color: #151515;
        flex-direction: column;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 200px;
        height: 100vh;
        align-items: center;
        transform: translateY(-100%);
        transition: transform .3s ease-in-out;
    }

    .menu__list.menu__list--active{
        transform: translateY(0%);
    }


    /* footer */
    .footer__menu{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }


    /* index.html */
    .title{
        font-size: 70px;
    }

    .top__link{
        max-width: 350px;
        font-size: 28px;
        padding: 16px;
    }

    .swiper-pagination-bullet{
        width: 60px;
    }

    .swiper-pagination-bullet-active{
        height: 4px;
    }

    .why-lease__list{ 
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .important__list{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 20px;
    }

    .video__content{
        height: 400px;
    }

    
    /* new-cars.html */
    .tabs__content-item{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

}


@media screen and (max-width: 580px){

    /* contacs.html */
    .contacts{
        padding: 50px 0 50px;
    }

    .contacts__title{
        font-size: 36px;
    }

    .contacts__text{
        font-size: 18px;
        padding: 0;
    }

    .form__input{
        width: 100%;
        margin-bottom: 20px;
    }

}


@media screen and (max-width: 560px){

    /* new-cars.html */
    .blog__item-title{
        margin-bottom: 10px;
    }

    .blog__item-link{
        margin-left: auto;
    }
}


@media screen and (max-width: 535px){
    
    /* footer */
    .app, .copy__nav-list{
        flex-direction: column;
        align-items: center;
    }


    /* index.html */
    .title{
        font-size: 55px;
    }

    .top__link{
        max-width: 300px;
        font-size: 22px;
    }

    .why-lease{
        padding-top: 50px;
    }

    .why-lease__list{ 
        grid-template-columns: repeat(1, 1fr);
    }

    .how-does{
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .how__does-list{
        padding: 30px 0 40px;
    }

    .important{
        padding-bottom: 50px;
    }

    .important__list{
        grid-template-columns: repeat(1, 1fr);
    }

    .video{
        padding-bottom: 50px;
    }

    .video__content{
        height: 200px;
    }

    .how__does-item{
        padding: 75px 0 19px 0;
        margin-right: auto;
    }

    .how__does-item::before{
        right: 0;
        margin: 0 auto;
        width: 70px;
        height: 70px;
        font-size: 32px;
    }


    /* new-cars.html */
    .choose {
        padding: 50px 0 50px;
    }

    .tabs__content-item{
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }

    .tabs__btn-item{
        font-size: 16px;
    }

    .blog {
        padding-bottom: 50px;
    }
}







